.button {
  height: 42px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto Bold";
  font-size: var(--font-size-xs);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.send {
  width: 70px;
  background-image: var(--primary-gradient-color-600);
  color: #ffffff;
  margin-left: 11px;
}

.new-match {
  width: 130px;
  background-image: var(--dark-gray-gradient-color-500);
  color: #ffffff;
}

.button:disabled {
  background-image: none;
  background-color: var(--light-gray-color-400) !important;
}

.refresh-icon {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}
